:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  line-height: 100%;
}

.credits {
  text-align: right;
  display: block;
}